$dark-black :#060606;
$light-blue:#7af1f9;
$light-grey: #979d9e;
@mixin dimension ($height,$width){
    height: $height;
    width: $width;
}
// @mixin circle{
//     border-radius:50%;
// }

body{
   
    background-color:red;
    // background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VGiBmTeaeilt7mgjb/video-game-background-blue_451fb1bpx__F0000.png");
    // background-size: cover;
}

//making circle for gameboy design

.circle-lights{
    margin:10px;
}

#circles{
    display:flex; 
    padding:10px;
    margin-left: 5%;
    margin-top: 1%;

    #blue-circle{
        @include dimension(100px,100px);
        background-color: $light-blue;
        border-radius: 50%;
        border: 10px solid white;
    }

    #red{
        @include dimension(20px,20px);
        border: 2px solid black;
        border-radius: 50%;
        background-color: pink;
    }

    #yellow{
        @extend #red;
        background-color:yellow;
    }

    #green{
        @extend #red;
        background-color: greenyellow;
    }
}





#pokemon-logo{
    height:100px;
}


#container{
    display:flex;
    justify-content: center;
    margin-top: 5%;

    #pokemon-container{
        @include dimension(370px,370px);
        background-color:white;
        border-radius: 5%;
        border: 20px solid $light-grey;
        border-bottom: 100px solid $light-grey;
       
    }
    
    #status-container{
        @include dimension(250px,325px);
        padding-top: 2%;
        margin-left:5%;
        margin-top:3%;
        border-radius:5%;
        background-color:$dark-black;
        font-family: 'Space Mono', monospace;

    }
}


#pokemon-container{
    #pokemonPic{
        @include dimension(200px,200px );
        margin-left: 20%;
        
    }
    #nameText {
        margin-top: 25%;
        text-align: center;
        text-transform:uppercase;
        font-family: 'Space Mono', monospace;
    }
}


#status-container{
    .status{
        margin-left:10%;
        color:white;
    }
}

#search-form{
    text-align: right;
    margin-left:60%;
    width:250px;
    
}

