$dark-black :#060606;
$light-blue:#7af1f9;
$light-grey: #979d9e;
@mixin dimension ($height,$width){
    height: $height;
    width: $width;
}


body{
    background-color:red;
    border: 5px solid black;
    height: 805px;

}

//making circle for gameboy design

.circle-lights{
    margin:10px;
}

#circles{
    display:flex; 
    padding:10px;
    margin-left: 5%;
    margin-top: 1%;

    #blue-circle{
        @include dimension(100px,100px);
        background-color: $light-blue;
        border-radius: 50%;
        border: 10px solid white;
    }

    #red{
        @include dimension(20px,20px);
        border: 2px solid black;
        border-radius: 50%;
        background-color: pink;
    }

    #yellow{
        @extend #red;
        background-color:yellow;
    }

    #green{
        @extend #red;
        background-color: greenyellow;
    }
}





#pokemon-logo{
    height:100px;
}


#container{
    display:flex;
    justify-content: center;

    

    #pokemon-container{
        @include dimension(250px,300px);
        background-color:#ecefea;
        border-radius: 5%;
        border: 2px solid black;
    }

    #grey-border{
        @include dimension(350px,350px);
        background-color: #979d9e;
        position: absolute;
        z-index:-1;
        right: 738px;
        top: 126px;
        border-radius: 5%;
        border: 2px solid black;

    }
    
    #status-container{
        @include dimension(250px,325px);
        padding-top: 2%;
        margin-left:5%;
        margin-top:3%;
        border-radius:5%;
        background-color:#81f945;
        font-family: 'Space Mono', monospace;
        border: 2px solid black;

    }
}


#pokemon-container{
    #pokemonPic{
        @include dimension(200px,200px );
        margin-left: 20%;
       
        
    }
    #nameText {
        margin-top:15%;
        text-align: center;
        text-transform:uppercase;
        font-family: 'Space Mono', monospace;
    }
}


#status-container{
    
    .status{
        margin-left:10%;
        color:$dark-black;
    }
}

#search-form{
    text-align: right;
    margin-left:60%;
    width:250px;
    margin-top: 20px;

    #search-button{
        border-radius: 5%;
        background-color: black;
    }

    #search-value{
        font-family: 'Space Mono', monospace;
    }
    
}


#search-button{
    border-radius: 5%;
    background-color: black;
}
#top-red-dots{
    position: absolute;
    display: flex;
    margin-left: 505px;
    top: 138px;


    .red-dots{
        @include dimension(10px,10px);
        border: 2px solid black;
        border-radius: 50%;
        background-color: red;
        margin-right: 6px;
    }

}


#buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

    #blue-button{
        @include dimension(40px,30px);
        background-color: #7af1f9;
    }

    #green-button{
        @include dimension(10px,30px);
        background-color: white
    }

    #red-button{
        @include dimension(10px,30px);
        background-color: black;
    }
}
