$light-gray :#7b818c;
@mixin dimension ($height,$width){
    height: $height;
    width: $width;
}

body{
    background-color:red;
}


#container{
    display:flex;
    justify-content: center;
    margin-top: 5%;

    #pokemon-container{
        padding:5%;
        background-color:white;
        border-radius: 5%;
    }
    
    #status-container{
        @include dimension(10%,15%);
        padding:5%;
        background-color:$light-gray;

        margin-left:5%;
        margin-top:3%;
        border-radius:5%;
    }
}


#pokemon-container{
    #pokemonPic{
        @include dimension(300px,300px );
    }
}

#search-form{
    text-align: right;
    margin-right: 23%;
    
}
